# FITS data files
*.fits

# Arbitrary compressed data files
*.gz

# Generated data files
*cov*.txt
*mean*.txt
*redshift*.txt

# Object files
*.[oa]

# Editor leftovers or swaps
*~
*.sw[mnop]

# CSCope databases
*cscope.out*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Notebook states
.ipynb_checkpoints/
.ipynb_checkpoints/*

# C extensions
*.so
*.dylib
*.lib
*.dll

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
