include README.rst
include README.md
include COPYING
include download_jla.sh
recursive-include testdata/m16 table_*.txt
global-exclude *cov.txt *mean.txt *redshift.txt
global-exclude jla*.txt jla*.dat covmat *.fits covmat*.tgz jla_likelihood*.tgz
